body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: $font_base;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: $gray_1;
}

a {
  text-decoration: none !important;
  color: inherit;
}
