.DS_Store
/.idea/
*.iml
.rebel.xml.bak
.rebel-remote.xml.bak
*/audit.log
/audit.log
/jmeter.log

.gradle
build

node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

services/web/src/main/resources/generated/