//http://www.december.com/html/spec/colorhslhex10.html

//Grays
$gray_1: #E5E5E5;
$gray_2: #CCCCCC;
$gray_3: #B2B2B2;
$gray_4: #999999;
$gray_5: #808080;
$gray_6: #666666;
$gray_7: #4D4D4D;
$gray_8: #333333;