html {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: $font_base;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: antiquewhite;
  position:relative;
}

a {
  text-decoration: none !important;
  color: inherit;
}

.center-div {
  display: flex;
  align-items: center;
  height: 90vh;
}

.panel-top > .name {
  color: antiquewhite;
}