.panel-top {
  background-color: darkgoldenrod;
  margin-bottom: 5px;
  padding: 5px;

  .name {
    padding-left: 5px;
    display: inline-block;
  }

  .home-link {
    color: white;
    display: inline-block;
  }
}