.timesheet-header {
  background-color: burlywood;
}

.timesheet-entry {
  height: 2rem;

  .cell {
    line-height: 2rem;
  }

  &:hover {
    background-color: burlywood;
  }
}

.row-even {
  background-color: floralwhite;
}

.row-odd {
  background-color: gainsboro;
}

